/* You can add global styles to this file, and also import other style files */
@media screen and (max-width: 1300px) {
    .sidebar-avatar{
        width: 150px !important;
        height: 150px !important;
    }
}

@media screen and (max-width: 770px) {
    .sidebar-avatar{
        width: 100px !important;
        height: 100px !important;
    }
}

@media screen and (max-width: 575px) {
    .btn{
        width: 100%;
    }
}