
<div class="card">
    <div class="card-header">
        <h4>Taner Saydam</h4>
        <img src="assets/avatars/image.jpeg" class="sidebar-avatar">
        <p>tanersaydam@gmail.com</p>
    </div>
    <div class="card-body">
        
        <p><b>About Me</b></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, commodi laborum aperiam, hic, eveniet ducimus beatae porro aut architecto magnam enim iusto dignissimos. Minus provident voluptas sit! Aliquid, laudantium voluptas!</p>
    </div>
</div>